<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Hikeground</h1>
  <div class="col-md-6 offset-md-3">
      <form
        action="/hikegrounds"
        method="POST"
        novalidate
        class="validated-form"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="hikeground[title]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="hikeground[location]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="hikeground[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div> -->
        <div class="mb-3">
          <label class="form-label" for="price">Hikeground Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">£</span>
            <input
              type="text"
              class="form-control"
              id="price"
              placeholder="0.00"
              aria-label="price"
              aria-describedby="price-label"
              name="hikeground[price]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="hikeground[description]"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mt-3 custom-file">
          <label for="image" class="form-label">Choose Images</label>
          <input class="form-control" type="file" id="image" name="image" multiple>
          <label for="image" class="custom-file-label text-muted"></label>
        </div>
        <div class="mb-3">
          <button class="btn btn-info">Add Hikeground</button>
        </div>
      </form>
      <a href="/hikegrounds">Back to All Hikegrounds</a>
    </div>
  </div>
</div>
